@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Playfair Display';
	font-weight: 300;
	line-height: 1.7;
	color: #E8DCD6;
	background-color: #E8DCD6;
}
a{
  color: #662F10;
}
a:hover {
  color: #E8DCD6;
}
.link {
  color: #E8DCD6;
}
.link:hover {
  color: #E8DCD6;
}
p {
  font-weight: 500;
  font-size: 14px;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  font-weight: 700;
  color: #662F10;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  margin:5px auto;
  background-color: #662F10;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #E8DCD6;
  background-color: #662F10;
  content:'☺';
 
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
  
}
.checkbox:checked + label:before {
  transform: translateX(44px);
}
.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  perspective: 800px;
  margin-top: 50px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #662F10 ;
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d ;
}
.card-back {
  transform: rotateY(180deg);
  height: 600px;
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-style {
  padding: 10px 20px;
  height: 42px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  color: #662F10;
  background-color: #E8DCD6;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.log
{
 margin-top: 200px;
}
.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  background-color: #E8DCD6;
  color: #662F10;
}
.btn:hover{  
  background-color: #662F10;
  color: #E8DCD6;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbar */
}
#background {
  width: 100%;
  height: 100%;
}